*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
}
::selection{
  color: #fff;
  background: #5372F0;
}
header{color: white;
font-family: Arial, Helvetica, sans-serif;
font-size: 2em;
}
.main{
  width: 480px;
  height: 400px;
  padding: 40px 30px 50px 30px;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  background: rgba(38, 36, 36, 0.345);
}
.wrapper header{
  font-size: 35px;
  font-weight: 600;
}
.wrapper form{
  margin: 40px 0;
}
form .field{
  width: 100%;
  margin-bottom: 20px;
}
form .field.shake{
  animation: shake 0.3s ease-in-out;
}

form .field .input-area{
  height: 50px;
  width: 100%;
  position: relative;
  
}
form input{
  width: 100%;
  height: 100%;
  outline: none;
  padding: 30px 45px;
  font-size: 18px;
  background: none;
  caret-color: gray;
  color: white;
  border: 1px solid #bfbfbf;
  border-bottom-width: 2px;
  transition: all 0.2s ease;
  border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
form .field input:focus,
form .field.valid input{
  border-color: gray;
  padding-top: 10px;
}
form .field.shake input,
form .field.error input{
  border-color: #dc3545;
  padding-top: 10px;
}
.field .input-area i{
  position: absolute;
  top: 50%;
  font-size: 18px;
  pointer-events: none;
  transform: translateY(-50%);
}
.input-area .icon{
  left: 15px;
  color: #bfbfbf;
  transition: color 0.2s ease;
}
.input-area .error-icon{
  right: 15px;
  color: #dc3545;
}
form input:focus ~ .icon,
form .field.valid .icon{
  color: gray;
}
form .field.shake input:focus ~ .icon,
form .field.error input:focus ~ .icon{
  color: #bfbfbf;
}
form input::placeholder{
  color: #bfbfbf;
  font-size: 17px;
}
form .field .error-txt{
  color: #dc3545;
  text-align: left;
  margin-top: 5px;
}
form .field .error{
  display: none;
}
form .field.shake .error,
form .field.error .error{
  display: block;
}
form .pass-txt{
  text-align: left;
  margin-top: -10px;
}
.wrapper a:hover{
  text-decoration: underline;
}
form input[type="submit"]{
  height: 45px;
  width: 80px;
  margin-top: 30px;
  color: black;
  padding: 0;
  border: none;
  background: rgb(93, 208, 93);
  cursor: pointer;
  border-bottom: 2px solid rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}
form input[type="submit"]:hover{
  background: rgb(121, 230, 121);
}